mixin icon(name,cls)
  svg(class=cls)
    use(xlink:href="#" + name)

mixin checkbox(text,disable)
  .check-el
    if disable
      label.style-label.style-label--checkbox.style-label--disable
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
    else
      label.style-label.style-label--checkbox
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
mixin radio(text,group,disable)
  .check-el
    if disable
      label.style-label.style-label--radio.style-label--disable
        input(type="radio" name="group").sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text
    else
      label.style-label.style-label--radio
        input(type="radio" name="group").sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text

mixin incr(a)
  - a = a || 1
  .elements-icr-block
    .incr
      .incr__minus.incr__nav
        +icon("minus","icon")
      .incr__val
        span.incr__size=a
        .incr__divider x
        .incr__cost 246 ₽
      .incr__plus.incr__nav
        +icon("plus","icon")

mixin item(img)
  .item
    a(href="#" style="background-image:url('img/"+img+".jpg')").item__img
    .item__content
      .item__info(style="background-image:url('img/wood.jpg')")
        a(href="#").item__title Пепперони
        .item__text Мраморная говядина, лапша собственного приготовления, лук, болгарский перец, морковь, чеснок
      .item__footer
        +incr("0")

mixin bread()
  .bread
    -
      var items = ['Главная','Пункт меню','Текущая страница'];
    each item in items
      a(href="#").bread__el #{item}

mixin seo()
  .main-cont
    .description__cont.text
      .description__text
        p SEO-текст. Это как старый друг, проверенный годами, ведь на рынке они очень давно. Кроме того, они были одними из первых, у кого появилась служба доставки в столице еще в 2001 году. Теперь это одна из самых больших сетей пиццерий в Киеве и Чернигове — у них целых 13 ресторанов. Кроме того, у заведения очень демократичные цены и много начинки.

        p Пиццу здесь готовят из отборный продуктов, что явно не может не радовать. И, несмотря на то, что тесто готовят по традиционному неаполитанскому рецепту, у них есть интересная фишка. Это, так званое, сочетание классики и авангарда — к примеру, есть пиццы с морепродуктами, с корнишонами, каперсами и с экзотическими продуктами. В День рождение в ресторанах Mamamia вам вернут 100% от счета на бонусный счет.
      .description__text--hidden.description__text--hidden
        p Помимо блюд японской кухни мы с радостью приготовим для вас экзотические воки с разными начинками, ароматную пиццу.. горячие и холодные супы, свежие и сытные салаты, нежные десерты.
        p Чтобы заказать суши и другие кушанья, зайдите в соответствующий раздел нашего меню. Каждый товар сопровождается фотографией, указанием состава ингредиентов, веса порции и стоимости. Кликните по плашке «Добавить в корзину» возле понравившихся суши. Скорректируйте количество порций и введите контактные данные. Наш менеджер свяжется с вами для подтверждения покупки.
      .description__more
        span.description__more--true Показать еще
        span.description__more--false Скрыть
        +icon("arrow-down","icon")