mixin header()
	//block header
	.head
		.head-top-wrap
			.main-cont
				.head-top
					.head-location Санкт-Петербург
					.head-contact
						a(href="tel:8 4212 45-77-77").head-contact__phone 8 4212 45-77-77
						.head-contact__time сегодня 10 - 24
					.head-top-nav
						.head-top-search-wrap
							form(action="#").head-top-search
								input(type="text" placeholder="Введите ваш запрос" class="input")
						-
							var items = [
							'О нас',
							'Отзывы',
							'Акции',
							'Франчайзинг'
							];
						each item in items
							a(href="#").head-top-nav__el #{item}
					.head-search
						+icon("search","icon")
					.login
						.login-auth
							.login-auth__icon
								+icon("user","icon")
								.login-auth__bonus +140 Б
							.login-auth__name Константин

		.main-cont
			.head-info
				a(href="#").logo
					img(src="img/logo.svg", alt="")
				.header-slogan
					.header-slogan__text Закажите еду зараннее и заберите её в удобном для вас заведении
						a(href="#").header-slogan__icon.tooltip
							+icon("question-circle","icon")
							.top
								i
								| Закажите еду зараннее и заберите её в удобном для вас заведении
				.header-search-panel
					.search-location-val Самовывоз, Хорошево, ул. Константинопольская, д. 34
					.search-location-icon
						+icon("location","icon")

	.head-main-wrap
		.main-cont
			.head-main
				a(href="#").logo-tablet
					img(src="img/logo-face.svg", alt="")
				a(href="#").logo-mobile
					img(src="img/logo.svg", alt="")
				.head-nav
					-
						var items = [
						{name:"Пицца: классика",id:"#clasic"},
						{name:"Пицца: избранное",id:"#favorite"},
						{name:"Роллы",id:"#roll"},
						{name:"Фокачча",id:"#fokacha"},
						{name:"Супы",id:"#soup"},
						{name:"Салаты",id:"#salad"},
						{name:"Паста",id:"#pasta"},
						{name:"Напитки",id:"#drinks"},
						{name:"Игрушки из дерева: Paolo WOOD WORK",id:"#toys"},
						];
					each item in items
						.head-nav__el-wrap
						a(href=item.id rel='m_PageScroll2id' ).head-nav__el #{item.name}
				.head-toggle
					+icon("menu","icon icon-open")
					+icon("close","icon icon-close")
				a(href="#").cart.cart--full
					.cart-icon
						+icon("cart","icon")
						.cart-icon__val 1250 р
					.cart-info
						.cart-condition 1250 р
						.cart-size 2 товара


	//мобильное меню
	.slide-cat
		.mobile-cat
			-
				var items = [
				{name:"Пицца: классика",id:"#clasic"},
				{name:"Пицца: избранное",id:"#favorite"},
				{name:"Роллы",id:"#roll"},
				{name:"Фокачча",id:"#fokacha"},
				{name:"Супы",id:"#soup"},
				{name:"Салаты",id:"#salad"},
				{name:"Паста",id:"#pasta"},
				{name:"Напитки",id:"#drinks"},
				{name:"Игрушки из дерева: Paolo WOOD WORK",id:"#toys"},
				];
			each item,i in items
				a(href=item.id rel='m_PageScroll2id' class=i>=4 && i<=7?'mobile-cat__el--sm':'').mobile-cat__el #{item.name}

	.slide-menu
		.slide-menu-wrap
			.slide-menu-head
				.slide-location Санкт-Петербург
				.slide-menu-close
					+icon("close-fat","icon")
			.slide-contact
				a(href="tel:8 4212 45-77-77").slide-phone 8 4212 45-77-77
				.slide-time сегодня 10 - 24
				a(href="mailto:pizza_paolo@gmail.com").slide-mail pizza_paolo@gmail.com
			.slide-nav
				a(href="#").slide-nav__el О нас
				a(href="#").slide-nav__el Отзывы
				a(href="#").slide-nav__el Акции
				a(href="#").slide-nav__el Франчайзинг
				form(action="#").slide-search
					.slide-search__action
						+icon("search","icon")
					input(type="text" placeholder="Поиск" class="input")
					.slide-search__clear
						+icon("close","icon")
				.slide-auth
					.login-auth
						.login-auth__icon
							+icon("user","icon")
							.login-auth__bonus +140 Б
						.login-auth__name Константин
				.slide-info
					.header-slogan
						.header-slogan__text Закажите еду зараннее и заберите её в удобном для вас заведении

					.header-search-panel
						.search-location-icon
							+icon("location","icon")
						.search-location-val Самовывоз, Хорошево, ул. Константинопольская, д. 34
				.slide-link
					a(href="#").slide-link__el Публичная оферта
					a(href="#").slide-link__el Политика конфиденциальности
				.soc-row
					a(href="#").soc-row__el
						+icon("soc-vk","icon")
					a(href="#").soc-row__el
						+icon("soc-fb","icon")
					a(href="#").soc-row__el
						+icon("soc-inst","icon")
					a(href="#").soc-row__el
						+icon("soc-twtr","icon")
					a(href="#").soc-row__el
						+icon("soc-youtube","icon")
	//block header end
